{% extends "base.html" %}

{% block content %}
<!-- Carousel wrapper -->
<div id="carouselBasicExample" class="carousel slide carousel-fade" data-mdb-ride="carousel" data-mdb-carousel-init>
  <!-- Indicators -->
  <div class="carousel-indicators">
    <button
      type="button"
      data-mdb-target="#carouselBasicExample"
      data-mdb-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-mdb-target="#carouselBasicExample"
      data-mdb-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-mdb-target="#carouselBasicExample"
      data-mdb-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>

  <!-- Inner -->
  <div class="carousel-inner">
    <!-- Single item -->
    <div class="carousel-item active">
      <img src="https://sun9-43.userapi.com/impg/qOKqtwneflxnXVVkoJ83ef9Iiptoy2xZs9wtYw/sq6wjqHU77I.jpg?size=2560x1707&quality=95&sign=741cae6ff6014ea82c6659c370a513c6&type=album" class="d-block w-100" alt="bird bone"/>
      <div class="carousel-caption d-none d-md-block">
        <p>Bird Bone</p>
      </div>
    </div>

    <!-- Single item -->
    <div class="carousel-item">
      <img src="https://sun9-59.userapi.com/impg/oBU49i4P3P8hLr_QU5GVroxnNtVpE9eKrsFvCA/4dnkOVsptYU.jpg?size=2560x1707&quality=96&sign=3ac0bf45ffcd41b8cf249c5431b78209&type=album" class="d-block w-100" alt="veresk"/>
      <div class="carousel-caption d-none d-md-block">
        <p>veresk</p>
      </div>
    </div>

    <!-- Single item -->
    <div class="carousel-item">
      <img src="https://sun9-20.userapi.com/impg/-n9nb_-VKOwSTDhhS50SG8B2EwK7SjS0xPC9dw/wIsmXznxXEw.jpg?size=2560x1707&quality=95&sign=bfd00169d0536734f7d38e482977adb8&type=album" class="d-block w-100" alt="Кауч-серфинг"/>
      <div class="carousel-caption d-none d-md-block">
        <p>Кауч-серфинг</p>
      </div>
    </div>
  </div>
  <!-- Inner -->



  <!-- Controls -->
  <button class="carousel-control-prev" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- Carousel wrapper -->

<div class="container mt-5">
    <div class="row">
      {% for el in goods %}

      <div class="col-md-4">
        <div class="product">
          <div class="image">
            <img src="{{ el.picture_address }}" alt="">
          </div>
          <div class="info">
            <h5 style="margin-top: 10px; margin-left: 5px;"><small>{{ categories[el.category] }}</small></h5>
            <h3 style="margin-top: 10px; margin-left: 5px;">{{ el.title }}</h3>
            <div class="info-price">
              <span class="price" style="margin-left: 5px;">{{ el.price }}₽</span>
              <a href="/goods/{{ el.id }}">
                <a class="btn btn-primary" href="/catalog/{{ el.id }}" role="button">
                  <ion-icon name="cart"></ion-icon>
                </a>
              </a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}